# htaccess for ronnysoftware
# Заголовок Cache-Control
<IfModule mod_headers.c>
        Header append Cache-Control "no-store, no-cache, must-revalidate"
</IfModule>
 
# Заголовок Expires
<IfModule mod_expires.c>
        ExpiresActive On ExpiresDefault "now"
</IfModule>

# remove .html from urls
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

ErrorDocument 404 /404.html
ErrorDocument 500 /404.html
